# Created by venv; see https://docs.python.org/3/library/venv.html
*
*.xls
*.xlsx
*.xlsm
*.txt
*.jpg
*.zip
*.png
*.jpg
*.jpeg
__pycache__/
output.csv
tempCodeRunnerFile.py
/build/
/dist/
/Doxygen/
main.spec
./venv/
./__pycache__/
./__pycache__/*
./venv
/TODOS/
/TODOS/*
./TODOS/
/venv