# Created by venv; see https://docs.python.org/3/library/venv.html

*.xls
*.xlsx
*.xlsm
*.txt
*.jpg
*.zip
*.png
*.jpg
*.jpeg
__pycache__/
output.csv
tempCodeRunnerFile.py
/build/
/dist/
/Doxygen/
main.spec
./venv/
./__pycache__/
./__pycache__/*
./venv
/TODOS/
/TODOS/*
./TODOS/
/venv
*.log
*.pyc
*.pyo
*.pyd
*.pdb
*.so
*.egg
*.egg-info
*.manifest
*.spec
*.db
*.sqlite
*.sqlite3
*.ipynb_checkpoints
*.coverage
*.cache
*.pytest_cache
*.mypy_cache
*.hypothesis
*.tox
*.nox
*.env
*.envrc
*.direnv
*.DS_Store
*.idea
*.vscode
*.sublime-project
*.sublime-workspace
*.project
*.pydevproject
*.ropeproject
*.spyderproject
*.spyproject
*.jupyter
*.ipynb
/Lib
*.cfg